@import '../../variables'

.hero
    height: 100vh
    background-image: url('public/images/hero_bg2.jpg')
    background-repeat: no-repeat
    background-size: cover
    position: relative
    z-index: -1
    section
        position: absolute
        left: 10%
        top: 60%
        width: 30%
        background-color: $color-prim-norm--0105
        color: $color-prim-light--01
        padding: 1rem
        border-radius: 1rem
        


    