@import '../../variables'
    
.partenaires
    padding: 2rem
    h2
        margin-left: 2rem
    &_contain
        background-color: $color-sec_01
        padding: 1rem
        border-radius: 1rem
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px
    &_flex
        display: flex
        justify-content: space-around
        margin: 3rem 0 
        a
            width: 17rem
            padding: 2rem
            border-radius: 1rem
            background-color: $color-sec_02
            @include shade-out
            
        img
            width: 100%
